{{ form_start(
    form, {
        'attr': {'novalidate': 'novalidate'}
    }
) }}

{% if not form.vars.valid %}
    <div class="alert alert-danger">
        {{ form_errors(form) }}
    </div>
{% endif %}

<div class="form-group">
    {{ form_label(form.hidraulico) }}
    {{ form_widget(form.hidraulico) }}
    {{ form_errors(form.hidraulico) }}
</div>

<div class="form-group">
    {{ form_label(form.eletrico) }}
    {{ form_widget(form.eletrico) }}
    {{ form_errors(form.eletrico) }}
</div>

<div class="form-group">
    {{ form_label(form.pintura) }}
    {{ form_widget(form.pintura) }}
    {{ form_errors(form.pintura) }}
</div>

<div class="form-group">
    {{ form_label(form.descricao) }}
    {{ form_widget(form.descricao) }}
    {{ form_errors(form.descricao) }}
</div>

<div class="form-group">
    {{ form_label(form.tempo_medio) }}
    {{
        form_widget(form.tempo_medio, {
            'attr': {
                'onkeydown': 'mascara(this, mascaraNumero);'
            }
        })
    }}
    {{ form_errors(form.tempo_medio) }}
</div>

{{  form_widget(form.enviar) }}

{{ form_rest(form) }}
